* {
  padding: 0;
  margin: 0;
}
.content {
  margin: 0 100px;
  position: relative;
}

.content .image img {
  width: 100%;
  height: 600px;
  max-width: 1270px;
  object-fit: cover;
  border-radius: 30px;
}
h1 {
  font-size: 30px;
  color: white;
}
.movieInfo {
  color: white;
  position: absolute;
  top: 50%;
  background-color: transparent;
  width: 50%;
  margin-left: 50px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Thêm bóng chữ */
}
.movieInfo h3 {
  font-size: 50px;
  font-weight: bold;
}
.movieInfo p {
  margin-top: 50px;
  font-weight: 500;
}
